.component {
    width: 90%;
    max-width: 600px; 
    height: auto;
    background: #fff;
    margin: 30px auto;  
    border-radius: 10px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    padding: 20px; 
    margin-top: 100px !important;
     margin-left: 80px !important;

}

.btn {
    width: 80%;
    
}

input {
    width: 80%;
    height: 50px !important;
    text-align: left;
}

label {
   
    display: block; 
    margin-bottom: 10px; 
}

.red, .black {
    display: inline-block; 
  
}

@media (min-width: 768px) {
    .component {
        margin-left: 250px; 
        margin-top: 50px;
    }

    label {
        margin-right: 270px; 
    }

    .red, .black {
        margin-right: 40px; 
    }
}
